:root{
    --c: rgb(44, 180, 39);
}

*{
    padding: 0;
    margin: 0;
}

.container{
    height: 70vh;
    width: 30rem;
    background-color: rgba(230, 230, 230, 0.479);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
}

.container > h1{ 
    font-size: 3em;
    display: grid;
    justify-items: center;
    margin: 10px 0;
}

.seperator-line{
    width: 100%;
    height: 5px;
    background-color: black; 
}

.content{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    align-items: center;
    margin: 4%;
}

.add{
    border: none;
    border-radius: 10px;
    min-width: 4rem; 
    display: flex;
    background-color: rgb(61, 105, 226);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    color: white;
    outline: none;
    font-size: 1rem;
    transition: 0.2s;
}

.add:hover{
    background-color: rgb(47, 89, 206);
}

.main{
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.1fr;
    align-items: center;
    margin: 1rem;
}

input{
    padding: 8px;
    border: 0;
    border-radius: 10px;
    margin: 0 1rem 0 0;
    box-shadow: 2px 2px 8px; 
}

.taskList h2{
    margin: 0 4%;
}

input:focus{
    outline: none;
}

.tick{
    background-color: var(--c);
    border: 1px solid var(--c);
    border-radius: 10px;
    display: flex;
    min-width: 4rem;
    padding: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.tick:hover{
    background-color: rgb(34, 131, 30);
}


#close{
    transition: 1s;;
}

.close:hover{
    background-color: rgb(177, 17, 49);
}

.close{
    background-color: crimson;
    border: none;
    border-radius: 10px; 
    min-width: 4rem;
    margin-left: 1rem;
    padding: 8px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
